# Node modules
node_modules/

# Build output
dist/
coverage/
logs/

# Env files
.env
.env.*

# Prisma local DBs
prisma/dev.db
prisma/dev.db-journal

# Prisma migrations (opcional, si no quieres versionar migraciones locales)
# prisma/migrations/

# Database dumps and backups
*.sql
*.dump
*.backup
backups/
temp_dump.sql

# OS files
.DS_Store
Thumbs.db